# API que se va a monitorear.
# - Local:  http://localhost:8000     (uvicorn corriendo en tu PC)
# - Prod:   https://gamehub-backend-556939640766.us-central1.run.app
API_TARGET=http://localhost:8000

# Credenciales de Grafana (http://localhost:3000)
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=admin
